body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  margin-top: 10px;
  text-align: center;
}

.test-btn {
  margin-top: 50px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  outline: none;
}